.button {
  cursor: pointer;

  padding: 10px;

  color: var(--secondary-color);
  text-transform: uppercase;

  background-color: var(--main-bg-color);
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius-small);

  transition: all 0.3s ease-out;

  &:hover {
    color: var(--main-bg-color);
    background-color: var(--secondary-color);
  }
}
