.wrapper {
  padding: 15px 0;

  font-size: 44px;
  line-height: 1;
  color: var(--primary-color);
  text-align: center;
}

.description {
  display: block;
  font-size: 8px;
  color: var(--secondary-color);
}
