.offline {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: var(--border-radius-small);
  background-color: var(--main-bg-color);
  color: var(--secondary-color);
  text-transform: uppercase;
  transition: opacity 0.3s ease-out;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
