.offline {
  position: absolute;
  right: 20px;
  bottom: 20px;

  padding: 10px;

  color: var(--secondary-color);
  text-transform: uppercase;

  background-color: var(--main-bg-color);
  border-radius: var(--border-radius-small);

  transition: opacity 0.3s ease-out;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
