.switcher {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: var(--border-radius-small);
  background-color: var(--main-bg-color);

  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  transition: 0.4s;

  &::before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: var(--border-radius-small);
    background-color: var(--secondary-color);
    content: '';
    transition: 0.4s;
  }
}

.switcher.checked {
  background-color: var(--secondary-color);

  .slider::before {
    background-color: var(--main-bg-color);
    transform: translateX(26px);
  }
}

// Accessibility outline on switcher, because native checkbox is transperent
.switcher input:focus-visible ~ .slider {
  outline-style: auto;
}

.icons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;

  svg {
    width: 22px;
    height: 22px;
    fill: var(--primary-color);
  }
}
